@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poiret+One&display=swap');

/*
'Poiret One', sans-serif;
'Lexend', sans-serif;
'MonteCarlo', cursive;
*/

* {
    box-sizing: border-box;
}


:root {
    --charcoal: #40444F;
    --eggshell: #FAF3DD;
    --moonstone: #6BBBC7;
    /* --jungle-green: #06A77D; */
    --jungle-green: #067F5E;
    --jungle-green-dark: #04644b;
    --rose: #E87EA1;
    --light-yellow: #FDFCDC;
    --light-orange: #FED9B7;
    --lighter-yellow: #FEF9E7;
    --primary-dark: var(--charcoal);
    --primary-dark-translucent: rgba(64, 68, 79, 0.9);
    --primary-light: var(--lighter-yellow);
    --light-accent: var(--light-orange);
    --accent: var(--moonstone);
    --button: var(--jungle-green);
    --button-hover: var(--jungle-green-dark);
    --heading-font: 'Poiret One', sans-serif;
    --body-font: 'Lexend', sans-serif;
}                              


.heading {
    font-family: var(--heading-font);
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


body {
    margin: 0;
    padding: 0;
    background: var(--primary-light);
    font-family: var(--body-font);
    font-weight: 400;
}

.vertical-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


/*********
  Navbar
*********/

.navbar {
    background: var(--primary-light);
    border-bottom: solid 2px var(--light-accent);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}



/***************
  Hero section
***************/

.hero-section {
    background-image: url(../images/blissful-shiba.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 50%;
}

.hero-content-container {
    background: var(--primary-dark-translucent);
    color: var(--primary-light);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.hero-content-container a {
    background: var(--button);
    color: #ffffff;
    font-weight: 600;
    border-color: var(--button);
}

.hero-content-container a:hover {
    background: var(--button-hover);
    border-color: var(--button-hover);
}




@media (min-width: 768px) {
    .hero-content-container {
        background: none;
        color: var(--primary-dark);
    }
}


/**************************************
  Understanding mental health section
**************************************/

.accordion-button {
    background: var(--light-accent);
}

.accordion-button:not(.collapsed) {
    background: var(--moonstone);
}

.accordion-item {
    background: var(--light-accent);
    color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.accordion button {
    font-weight: 600;
}

/***************
  Tips section
***************/

#tips {
    background: var(--accent);
}

.card {
    background-color: var(--light-accent);
    color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.card h5 {
    font-weight: 600;
}

.card-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.card i {
    font-size: 3rem;
}




/**********************
  Inspiration section
**********************/

.carousel-item {
    padding-top: 7rem;
    padding-bottom: 7rem;
    height: 380px;
}

@media(min-width: 992px) {
    .carousel-item {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}


#slide-1 {
    background: 
        linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
        url('../images/slide-4-min.webp');
    background-position: 50% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

#slide-2 {
    background: 
        linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
        url('../images/slide-2-min.webp');
    background-position: 50% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

#slide-3 {
    background: 
        linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
        url('../images/slide-3-min.webp');
    background-position: 50% 35%;
    background-size: cover;
    background-repeat: no-repeat;
}

#slide-4 {
    background: 
        linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
        url('../images/slide-6-min.webp');
    background-position: 50% 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

.blockquote {
    color: var(--primary-light);
}

.blockquote-footer {
    color: var(--light-accent);
    font-weight: 600;
}




/*********
  Footer
*********/

footer {
    background: var(--primary-dark);
    color: var(--primary-light);
    padding: 2rem 0;
}

footer p {
    margin: 0;
}